# DISTANT MYSQL DATABASE Connection
DB_TO_REPLICATE_HOST: ''
DB_TO_REPLICATE_NAME: ''
DB_TO_REPLICATE_USER: ''
DB_TO_REPLICATE_PASSWORD: ''

# LOCAL MYSQL DATABASE Connection
DB_LOCAL_HOST: ''
DB_LOCAL_NAME: ''
DB_LOCAL_USER: ''
DB_LOCAL_PASSWORD: ''
