# DISTANT MYSQL DATABASE Connection
DB_TO_REPLICATE_HOST=mysql-distant
DB_TO_REPLICATE_NAME=app-distant
DB_TO_REPLICATE_USER=app-distant
DB_TO_REPLICATE_PASSWORD=app-distant

# LOCAL MYSQL DATABASE Connection
DB_LOCAL_HOST=mysql-local
DB_LOCAL_NAME=app-local
DB_LOCAL_USER=app-local
DB_LOCAL_PASSWORD=app-local